* {
    margin: 0;
    padding: 0;
}
:root {
    --bg-color: #f44336;
}
.wrapper {
    width: 50%;
    min-width: 300px;
    margin: 40px auto;
}
.header {
    background: var(--bg-color);
    padding: 30px 40px;
    text-align: center;
}
.header h2 {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}
.inputSect {
    display: flex;
    align-items: center;
    line-height: 38px;
}
.inputSect input {
    width: 75%;
    padding: 8px;
    font-size: 16px;
}
::placeholder {
    color: #757575;
  }
  :-ms-input-placeholder { 
    color: #757575;
  }
  ::-ms-input-placeholder { 
   color: #757575;
  }
.addBtn {
    width: 25%;
    background: #d9d9d9;
    cursor: pointer;
    color: #555;
}
.addBtn:hover {
    background-color: #bbb;
}
ul li {
    position: relative;
    list-style-type: none;
    background: #eee;
    font-size: 16px;
    cursor: pointer;
    padding: 12px 40px;
    transition: 0.4s;
}
ul li:nth-child(odd) {
    background: #f9f9f9;
}
ul li:hover {
    background: #ddd;
}
.removeBtn {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 18px;
}
.removeBtn:hover {
    color: white;
    background-color: var(--bg-color);
}
ul li.checkedItem {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}
ul li.checkedItem:before {
    content: "\2713";
    color: #fff;
    width: 15px;
    height: 17px;
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    left: 15px;
    top: 8px;
}